<div class="control" [formGroup]="makerForm">
  <label class="label title is-4">Meal type</label>
  <div class="checkboxes" formGroupName="mealType">
    <label class="checkbox">
      <input type="checkbox" formControlName="breakfast" />
      Breakfast
    </label>
    <label class="checkbox">
      <input type="checkbox" formControlName="brunch" />
      Brunch
    </label>
    <label class="checkbox">
      <input type="checkbox" formControlName="lunch" />
      Lunch
    </label>
    <label class="checkbox">
      <input type="checkbox" formControlName="dinner" />
      Dinner
    </label>
  </div>
</div>
