<ng-container *ngIf="recipe">
  <app-basepage [heading]="recipe.title">
    <button
      *ngIf="isRecipeFullyLoaded && (user$ | async)"
      class="button is-primary mb-4 is-uppercase has-text-weight-bold"
      (click)="toggleIsEditing()"
    >
      {{ isEditing ? "Close Edit" : "Edit" }}
    </button>

    <ng-container *ngIf="isEditing">
      <app-recipecreateoredit />
    </ng-container>
    <ng-container *ngIf="!isEditing">
      <div class="columns">
        <div class="column is-12-mobile is-6-tablet">
          <figure class="image is-4by3">
            <img
              [src]="recipe.image_url + '?tr=w-700'"
              [alt]="recipe.title"
              style="object-fit: cover; border-radius: 1rem"
            />
          </figure>
        </div>
        <div class="column is-12-mobile is-6-tablet">
          <app-mealtype-list
            [url]="recipe.meal_type"
            [loadedRecipe]="recipeDetails"
            (setMealType)="setRecipeDetails('meal_type', $event)"
          />
          <app-dietarypreference-list
            [url]="recipe.dietary_preference"
            [loadedRecipe]="recipeDetails"
            (setDietaryPreference)="
              setRecipeDetails('dietary_preference', $event)
            "
          />
          <div class="columns">
            <div class="column">
              <h2 class="subtitle mb-2">Preparation Time</h2>
              <p class="mb-4 has-text-weight-bold">
                {{ formatDuration(recipe.preparation_time) }}
              </p>
              <h2 class="subtitle mb-2">Cooking Time</h2>
              <p class="has-text-weight-bold">
                {{ formatDuration(recipe.cooking_time) }}
              </p>
            </div>
            <div class="column">
              <h2 class="subtitle mb-2">Difficulty</h2>
              <p class="has-text-weight-bold is-capitalized">
                {{ recipe.difficulty }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <h2 class="title is-4 mt-4 mb-2">Ingredients list</h2>
      <app-ingredient-list
        [url]="recipe.ingredients"
        [loadedRecipe]="recipeDetails"
        (setIngredients)="setRecipeDetails('ingredients', $event)"
      />
      <h2 class="title is-4 mt-4 mb-2">Step by step instructions</h2>
      <app-instruction-list
        [url]="recipe.instructions"
        [loadedRecipe]="recipeDetails"
        (setInstructions)="setRecipeDetails('instructions', $event)"
      />
    </ng-container>
  </app-basepage>
</ng-container>

<div class="pt-4 is-flex is-justify-content-center" *ngIf="isProcessing">
  <div>
    <div class="loader" style="width: 2rem; height: 2rem"></div>
  </div>
</div>
