<div [formGroup]="makerForm" class="mb-4">
  <div formArrayName="instructions">
    <label class="label title is-4"
      >Add Instruction<span class="has-text-danger">*</span></label
    >
    <ng-container
      *ngFor="let instructionForm of instructions.controls; let i = index"
    >
      <div class="columns" [formGroup]="instructionForm">
        <div class="column">
          <div class="field has-addons">
            <div class="control is-flex-grow-1">
              <label for="instruction-step" *ngIf="i === 0" class="label"
                >Step<span class="has-text-danger">*</span></label
              >
              <textarea
                id="instruction-step"
                class="textarea"
                placeholder="Text..."
                formControlName="step"
                rows="2"
              ></textarea>
            </div>
          </div>
        </div>
        <div
          class="column is-narrow is-flex is-justify-content-center is-align-items-end"
        >
          <button
            type="button"
            class="button is-danger is-small"
            (click)="removeInstruction(i)"
          >
            Delete
          </button>
        </div>
      </div>
    </ng-container>

    <button
      class="button is-fullwidth is-primary is-outlined mb-2"
      type="button"
      (click)="addInstruction()"
    >
      Add
    </button>
    <p *ngIf="instructionsErrs().required" class="help">
      How do you actually make it? Please tell us the steps.
    </p>
  </div>
</div>
