<nav class="navbar py-4" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a
      class="navbar-item is-size-3 has-text-primary"
      routerLink="/"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <strong>Cookuisines</strong>
    </a>

    <a
      role="button"
      class="navbar-burger"
      [class.is-active]="isActive"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
      (click)="isActive = !isActive"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu" [class.is-active]="isActive">
    <div class="navbar-end">
      <a
        class="navbar-item"
        routerLink="/recipes"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Recipes</a
      >
      <a
        class="navbar-item"
        routerLink="/recipemaker"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        *ngIf="authenticated$ | async"
        >Maker</a
      >
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons" *ngIf="authenticated$ | async">
          <button class="button is-primary" (click)="logoutUser()">
            <strong>Log out</strong>
          </button>
        </div>
        <div class="buttons" *ngIf="!(authenticated$ | async)">
          <a
            class="button is-primary"
            routerLink="/signup"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          >
            <strong>Sign up</strong>
          </a>
          <a
            class="button is-light"
            routerLink="/login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          >
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
