<h1 class="title is-1 pb-4">Recipe Maker</h1>

<form>
  <div class="columns">
    <div class="field column is-half">
      <label class="label title is-4"
        >Title<span class="has-text-danger">*</span></label
      >
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Text..."
          value=""
          required
        />
      </div>
      <p class="help">
        As much you'd like to call it "Whatever", a proper title is a must
      </p>
    </div>
  </div>
  <button class="button is-primary" type="submit">Make</button>
</form>
