<app-basepage heading="Cookuisines">
  <div style="max-width: 600px">
    <p class="is-size-3 mb-4">
      A demo recipe app, which lets you view, create, edit, and delete recipes
      to your heart's content.
    </p>
    <p class="is-size-4 mb-2">
      However, the write operations are authorized, but I've simplified that
      process. Just enter these credentials into the login form and you are good
      to go.
    </p>
    <p class="is-size-5">
      Email: <strong>hasan_abir&#64;test.com</strong> or
      <strong>test_hasan_abir&#64;test.com</strong>
    </p>
    <p class="mb-6 is-size-5">Password: <strong>testtest</strong></p>
    <a class="button is-primary is-medium" routerLink="/recipes">
      <strong>Search Recipes</strong>
    </a>
  </div>
</app-basepage>
