<div [formGroup]="form">
  <div class="columns" [formGroupName]="fgName">
    <div class="control column">
      <label [attr.for]="fgName + '-duration-hours'" class="label is-size-7"
        >Hours</label
      >
      <input
        [id]="fgName + '-duration-hours'"
        type="number"
        class="input is-small"
        min="0"
        max="60"
        value="0"
        formControlName="hours"
      />
    </div>
    <div class="control column">
      <label [attr.for]="fgName + '-duration-minutes'" class="label is-size-7"
        >Minutes</label
      >
      <input
        [id]="fgName + '-duration-minutes'"
        type="number"
        class="input is-small"
        min="0"
        max="60"
        value="0"
        formControlName="minutes"
      />
    </div>
    <div class="control column">
      <label [attr.for]="fgName + '-duration-seconds'" class="label is-size-7"
        >Seconds</label
      >
      <input
        [id]="fgName + '-duration-seconds'"
        type="number"
        class="input is-small"
        min="0"
        max="60"
        value="0"
        formControlName="seconds"
      />
    </div>
  </div>
</div>
